<p id="notice"><%= notice %></p>

<p>
  <b>Title:</b>
  <%= @project.title %>
</p>

<p>
  <b>Discription:</b>
  <%= @project.discription %>
</p>

<p>
  <b>Due:</b>
  <%= @project.due %>
</p>


<%= link_to 'Edit', edit_project_path(@project) %> |
<%= link_to 'Back', projects_path %>
